@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'PDFinTextCondPro-Medium';
  src: url('./assets/fonts/PFDinTextCondPro-Medium.ttf');
} */

/* @font-face {
  font-family: 'PFDinTextCondPro';
  src: url('./assets/fonts/PFDinTextCondPro-Regular.ttf');
  font-weight: 300;
} */

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('./assets/fonts/pfdintextcondpro-medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('./assets/fonts/pfdintextcondpro-regular.woff');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .primary-button {
    @apply rounded-full bg-primary px-4 py-2 text-secondaryBrown font-[500] uppercase;
  }

  .caption {
    @apply mt-[22px];
  }

  .links {
    @apply flex gap-[10px];
  }

  .link {
    @apply flex justify-center items-center w-8 h-8 rounded-[5px] bg-[#ECB200];
  }

  .step-card {
    @apply flex flex-col items-center gap-[22px] lg:w-fit lg:flex-row;
  }

  .step-content {
    @apply  w-fit items-center flex flex-col gap-[22px] lg:self-start;
  }

  .arrow {
    @apply lg:rotate-[-90deg];
  }

}