
#outer-oval-wrapper {
    clip-path: ellipse(100vw 80vw at 50% -5%);
}

#oval-wrapper {
    clip-path: ellipse(100vw 80vw at 50% 50%);
}

@media only screen and (min-width: 768px) {

    #oval-wrapper {
        clip-path: ellipse(100vw min(80vw, 800px) at 50% -13%);
    }

    #outer-oval-wrapper {
        clip-path: ellipse(100vw min(100vw, 800px) at 50% -11%);
    }
}

@media only screen and (min-width: 1280px) {

    #oval-wrapper {
        clip-path: ellipse(80vw min(80vw, 800px) at 50% -13%);
    }

    #outer-oval-wrapper {
        clip-path: ellipse(80vw min(100vw, 800px) at 50% -11%);
    }
}


#prize-oval-wrapper {
    clip-path: ellipse(70vw 50vw at 50% 0%);
}

#prizes-oval-wrapper {
    clip-path: ellipse(70vw 50vw at 50% 5%);
}

$primary: #FFCD00;
$secondaryRed: #e63000;
$secondaryBrown: #5A1404;

#guide-title {
    text-shadow: -2px 3px white;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fractiona {

    bottom: 0px;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: $secondaryBrown;
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    top: 35%;

    &::after {
        display: none;
    }

    &:hover > svg > path {
        fill: $secondaryRed;
    }
}

.swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid $secondaryBrown;
}

.swiper-slide {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}


